.btn-margin {
  margin: 3px 3px;
}
#cornerLogo {
  height: 12rem;
  margin-left: 0%;
}
body {
  background-image: url("./Images/newBackground.jpg");
  background-size: 110%;
  /* background-color: #AFAFAF */
}
#topBarBackground {
  background-color: #1d1d1d;
  margin: 0;
  border-style: none none groove none;
  border-width: 2.5px;
}
.button-to-bottom {
  position: relative;
  /* top: 7rem;  */
} 
.card-margin {
  margin: 2% 10% 0% 10%;
}
.small-image {
  width: 50%;
  height: auto;
  float: right;
}
.heading-text {
  font-weight: bold;
  font-size: 2.5rem;
}
.weekday-text {
  margin-left: 75%;
}
.search-form {
 text-align: center;
 margin-top: -8%; 
}
.search-label {
  font-weight: bold;
  color: #c4c2cd;
}
.search-bar {
  background-color: #1d1d1d;
  /* padding-top: 0; */
}
.top-center-text {
  color: #c4c2cd;
}
.border-styling {
  border-style: none groove groove groove;
  padding: 2%;
  margin-top: -0.15%;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  z-index: 10;
}
.pad-left {
  padding-left: 7%;
}
.no-top-margin {
  margin-top: -3%;
}
.gray-button {
  background-color: gray;
  border: solid 2px white;
}
.shadow-button {
  box-shadow: 0 0 0 1px white,
                inset 0 0 0 2px #1d1d1d;
}
.centered-text {
  text-align: center;
}